<h2><%= @a_show.title %></h2>

<div class="show">
   <%= @a_show.title %>
   <%= @a_show.year %>
   <%= @a_show.composer  %>
   <a href="show/<%= @a_show.id %>"><img src="<%= @a_show.img_url %>" alt="<%= @a_show.title %> poster" /></a>
   </div>
