<h2>All Shows</h2>

<% @all_shows.each do |show| %>
   <div class="show">
   <%= show.title %>
   <%= show.year %>
   <%= show.composer  %>
   <a href="show/<%= show.id %>"><img src="<%= show.img_url %>" alt="<%= show.title %> poster" /></a>
   </div>
   <% end %>